@font-face{
    font-family: "fuente";
    src: url('media/font/font2.otf');
}
body {
    font-family: fuente;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;

    background-image: url('media/home-fondo.jpg');
    background-repeat: no-repeat;
    background-size: 20vw;
    background-color: #070707;
    background-position: top center;
}

.texto{
    margin-top: 65vh;
    margin-left: 1vw;
}

.img{
    width: 20vw;
    height: auto;
}
